<mat-card>
  <mat-card-title>{{'SIGILS.SELECT_SEALING_STRATEGY' | translate}}</mat-card-title>
  <mat-radio-group [value]="strategy" (change)="strategyChangedHandler($event.value)">
    <mat-radio-button
      [value]="SealStrategy.RemoveAllAlreadyExistingCharacters"
      [matTooltip]="'SIGILS.STRATEGY_1_DESCRIPTION' | translate"
      [matTooltipPosition]="'left'"
      matTooltipHideDelay="tooltipHideDelay"
      >{{'SIGILS.STRATEGY' | translate}} 1</mat-radio-button>
    <mat-radio-button
      [value]="SealStrategy.RemoveAllCharactersWithMultipleOccurences"
      [matTooltip]="'SIGILS.STRATEGY_2_DESCRIPTION' | translate"
      [matTooltipPosition]="'left'"
      matTooltipHideDelay="tooltipHideDelay"
      >{{'SIGILS.STRATEGY' | translate}} 2</mat-radio-button>
    <mat-radio-button
      [value]="SealStrategy.RemovePairs"
      [matTooltip]="'SIGILS.STRATEGY_3_DESCRIPTION' | translate"
      [matTooltipPosition]="'left'"
      matTooltipHideDelay="tooltipHideDelay"
      >{{'SIGILS.STRATEGY' | translate}} 3</mat-radio-button>
  </mat-radio-group>
</mat-card>