<mat-card>
  <mat-form-field appearance="outline">
    <mat-label i18n>Enter statement here</mat-label>
    <textarea
      matInput
      rows="2"
      placeholder="Afirmatia"
      [(ngModel)]="statement"
      (ngModelChange)="onModelChangeHandler($event)"
    ></textarea>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint i18n
      >Statement sohuld be positive, achieveable and contain a feeling.</mat-hint
    >
  </mat-form-field>
</mat-card>
<app-seal [seal]="seal"></app-seal>
