<mat-card>
  <mat-form-field appearance="outline">
    <mat-label>{{'SIGILS.ENTER_STATEMENT' | translate}}</mat-label>
    <textarea
      matInput
      rows="2"
      [placeholder]="'SIGILS.STATEMENT' | translate"
      [(ngModel)]="statement"
      (ngModelChange)="onModelChangeHandler($event)"
    ></textarea>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>{{'SIGILS.STATEMENT_DESCRIPTION' | translate}}</mat-hint>
  </mat-form-field>
</mat-card>
<app-seal [seal]="seal"></app-seal>
