<mat-card>
  <div class="statement">
    <label i18n>Statement:</label>
    <p>{{ seal?.statement }}</p>
  </div>
  <div class="result">
    <div class="values">
      <div class="literal-seal">
        <label i18n>Literal Sigil:</label>
        <p>{{ seal?.literalSeal }}</p>
      </div>

      <div class="numeric-seal">
        <label i18n>Numeric Sigil:</label>
        <p>{{ seal?.numericSeal }}</p>
      </div>

      <div class="condensed-numeric-seal">
        <label i18n>Reduced Numeric Sigil:</label>
        <p>{{ seal?.condensedNumericSeal }}</p>
      </div>
    </div>
    <div class="graphic-seal">
      <app-graphical-seal [foreColor]="sealColor"></app-graphical-seal>
    </div>
  </div>
</mat-card>
