<mat-card>
  <div class="statement">
    <label>Afirmatia:</label>
    <p>{{ seal?.statement }}</p>
  </div>
  <div class="result">
    <div class="values">
      <div class="literal-seal">
        <label>Sigiliul literal:</label>
        <p>{{ seal?.literalSeal }}</p>
      </div>

      <div class="numeric-seal">
        <label>Sigiliul numeric:</label>
        <p>{{ seal?.numericSeal }}</p>
      </div>

      <div class="condensed-numeric-seal">
        <label>Sigiliul numeric condensat:</label>
        <p>{{ seal?.condensedNumericSeal }}</p>
      </div>
    </div>
    <div class="graphic-seal">
      <app-graphical-seal [foreColor]="sealColor"></app-graphical-seal>
    </div>
  </div>
</mat-card>
